<div class="container-fluid vert-offset-top-9" ng-cloak>
  
   
      <div class="jumbotron center">
          <h1>{{redirectionPage.title}} <small><font face="Tahoma" color="red">{{redirectionPage.error}}</font></small></h1>
          <br />
          <p ng-bind-html="redirectionPage.content"></p>
          <a href="#!/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i>{{redirectionPage.buttonText}}</a>
        </div>
        
        <!-- By ConnerT HTML & CSS Enthusiast -->  
  
</div>